.footerWrapper {
  width: 100%;
  bottom: 2vw;
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerContacts {
  display: flex;
  margin-bottom: 2vw;
}

.footerBrands {
  display: flex;
  justify-content: center;
  align-items: center;
}

.brandLogo {
  max-width: 6.5vw;
  padding: 0 1vw;
}

@media only screen and (max-width: 600px) {
  .footerWrapper {
    margin-top: 20vw;
    position: static;
  }
  .footerBrands {
    flex: 1;
    flex-wrap: wrap;
    width: auto;
    margin-bottom: 10vw;
  }
  .brandLogo {
    padding: 0 2vw;
    height: auto;
    max-width: 18.5vw;
  }
}
